.tableHeader {
    font-size: 16pt;
    font-weight: bold;
    margin-top: 15px;
}

table {
    border-spacing: 3px;
}

table, th, td {
    border: 1px solid black;
}

td {
    padding: 0 3px 0 3px;
}